# R & RStudio
.Rhistory
.RData
.Rproj.user/
.Renviron

# Package development
*.Rcheck/
*.tar.gz
vignettes/*.html
vignettes/*.pdf
inst/doc/
docs/
libs/
*.o
*.so
*.dll
po/*~
rsconnect/
Meta/

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# Quarto
/_site/
/_freeze/

# Claude and other AI
.claude/

# project-level
PROG_NOTES.md
froggeR.Rproj
inst/doc
/doc/
/Meta/
docs
cran-comments.md
^CRAN-SUBMISSION$
